<amexio-layout-grid
  [layout]="'Home'">
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridheader1'">
    H1
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridheader2'">
    H2
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridheader3'">
    H3
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridheader4'">
    H4
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridmain'">
    MAIN
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridmenu'">
    MENU
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridtitle'">
    TITLE
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridright1'">
    R1
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridright2'">
    R2
  </amexio-grid-item>
  <amexio-grid-item style="border:1px solid red"
    [name]="'gridright3'">
    R3
  </amexio-grid-item>
</amexio-layout-grid>