<amexio-timeline [content-alignment]="''">
    <amexio-timeline-event [label]="'08:30'" [icon]="'fa fa-file'">
        <amexio-label size="large-bold">REGISTRATION</amexio-label>
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'09:00'" [icon]="'fa fa-microphone'">
        <amexio-label>Keynote Talk:Disrupting the Disruptors- Where does Blockchain go from here
        </amexio-label>
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'09:15'" [icon]="'fa fa-microphone'">
        <amexio-label>Blockchain in Enterprise- How Companies are using Blockchain Today
        </amexio-label>
        <amexio-chips>
            <amexio-chip [label]="'Araf Karsh Hamid'" [color]="'grey'">
            </amexio-chip>
        </amexio-chips>
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'09:50'" [icon]="'fa fa-coffee'">
        <amexio-label>Networking Break
        </amexio-label>
    </amexio-timeline-event>
    <amexio-timeline-event [label]="'10:05'" [icon]="'fa fa-microphone'">
        <amexio-label>Understand Blockchain HyperLedger Fabric For Enterprises
        </amexio-label>
        <amexio-chips>
            <amexio-chip [label]="'Ketan Gote'" [color]="'grey'">
            </amexio-chip>
        </amexio-chips>
    </amexio-timeline-event>
</amexio-timeline>