<amexio-label size="large" >Amexio Meetup Dec 15 2018</amexio-label><hr>
<amexio-label size="small-bold" >Timeline Component</amexio-label><hr>

<app-timelinedemo></app-timelinedemo>
<br><br>
<amexio-label size="small-bold" >D3 charts with drillable Component</amexio-label><hr>

<app-d3chartdemo></app-d3chartdemo>
<br><br>
<amexio-label size="small-bold" >Template Driven Form Component</amexio-label><hr>

<app-templateformdemo></app-templateformdemo>
<br><br>
<amexio-label size="small-bold">Grid layout Component</amexio-label><hr>

<app-gridlayoutdemo></app-gridlayoutdemo>